
.otpInput{
    width: 20px;
    height: 25px;
    border: none;
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.otpWrap{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}

.errorBorder{
    border: 2px solid red!important;
}
